.App {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
  grid-gap: 16px;
}

.navbar {
  display: flex;
  grid-column-start: 1;
  grid-column-end: -1;
  border: 1px solid #e0e0e0;
}

.search {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.logo {
  width: 3rem;
  height: 3rem;
}
